<header class='top-page-header'>
  <%= link_to '顧客管理システム', "/", class:"main_title" %>
</header>
<div class='main'>
  <div class='select-reason-contents'>
    <ul class='reason-lists'>
      <li class='list'>
        <%= link_to '顧客登録',new_user_path, method: :get %>
      </li>
      <li class='list'>
        <%= link_to 'リストアップ検索',search_users_path, method: :get %>    
      </li>
      <li class='list'>
        <%= link_to '寸法入力',new_size_path, method: :get %>
      </li>
    </ul>
    
  </div>
</div>
